#board {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

.row {
  display: block;
  flex-flow: row;
  justify-content: space-between;
  align-content: space-around;
  height: 35px;
  border-style: inset;

}

.row:after {
  content: "";
  clear: both;
  display: block;
}

#tile {
  display: inline;
  background-color: gray;
  height: 24px;
  width: 35px;
  border-style: outset;
}

.explored {
  border-style: inset;
}

.flagged, .bombed {
  color: red;
}